<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple landing page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/css/owl.theme.default.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/aos/css/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/air.css') }}">



</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <section class="main">
    <header id="header-section">
      <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
        <div class="container">
          <div class="navbar-brand-wrapper d-flex w-100">
            <img height="40" src="{{ url_for('static', filename='images/WOSA.png') }}" alt="">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="mdi mdi-menu navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
              <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
                <div class="navbar-collapse-logo">
                  <img src="{{ url_for('static', filename='images/Group2.svg') }}" alt="">
                </div>
                <button class="navbar-toggler close-button" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
                </button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Blogs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="banner">
      <div class="container">
        <h2 class="font-weight-semibold"><span>AIR QUALITY</span> <br> INDEX</h2><br>
        <div id="chart1" class='chart1'></div>
          <br />
        </div>
        <p class="text"> AQI: {{ aqi }} </p>
        <p class="text"> Main Pollutant: {{ mp }}; Category: {{cat}} </p>
      </div>
    </div>
  </section>
  <div class="content-wrapper">
    <div class="container">



      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2022<a href="https://www.bootstrapdash.com/"
            class="px-1">WOSA</a>All rights reserved.</p>
      </footer>
      <!-- Modal for Contact - us Button -->

    </div>
  </div>
</body>
  <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/owl-carousel/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/aos/js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/landingpage.js') }}"></script>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart1',graphs,{
                                 paper_bgcolor: 'rgba(0,0,0,0)',
                                  plot_bgcolor: 'rgba(0,0,0,0)'});
  </script>

</html>
